<div class="grid flex justify-content-center p-3">
    <div class="col-12 md:col-8">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="p-field">
            <label for="nombre">Nombre</label>
            <input id="nombre" type="text" pInputText formControlName="nombre" />
            <div *ngIf="contactForm.get('nombre')?.invalid && contactForm.get('nombre')?.touched" class="p-error">
              Nombre es requerido.
            </div>
          </div>
      
          <div formArrayName="telefonos">
            <div *ngFor="let telefono of telefonos.controls; let i=index" [formGroupName]="i" class="p-field">
              <label for="numero-{{i}}">Teléfono</label>
              <input id="numero-{{i}}" type="text" pInputText formControlName="numero" />
              <p-button type="button" icon="pi pi-times" styleClass="border-circle" (click)="removeTelefono(i)"></p-button>
            </div>
            <p-button type="button" icon="pi pi-plus" styleClass="border-circle" (click)="addTelefono()"></p-button>
          </div>
      
          <div formArrayName="emails">
            <div *ngFor="let email of emails.controls; let i=index" [formGroupName]="i" class="p-field">
              <label for="email-{{i}}">Email</label>
              <input id="email-{{i}}" type="email" pInputText formControlName="email" />
              <p-button type="button" icon="pi pi-times" styleClass="border-circle" (click)="removeEmail(i)"></p-button>
            </div>
            <p-button type="button" icon="pi pi-plus" styleClass="border-circle" (click)="addEmail()"></p-button>
          </div>
      
          <div formArrayName="direcciones">
            <div *ngFor="let direccion of direcciones.controls; let i=index" [formGroupName]="i" class="p-field">
              <label for="direccion-{{i}}">Dirección</label>
              <input id="direccion-{{i}}" type="text" pInputText formControlName="direccion" />
              <p-button type="button"  icon="pi pi-times" styleClass="border-circle" (click)="removeDireccion(i)"></p-button>
            </div>
            <p-button type="button" icon="pi pi-plus" styleClass="border-circle" (click)="addDireccion()"></p-button>
          </div>
      
          <p-button label="Guardar Cambios" [disabled]="contactForm.invalid"></p-button>
        </form>
      </div>
      
</div>
